<div class="layout-wrapper">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="logo">
      <img src="assets/sistema.png" alt="Sistema COD Logo" />
    </div>

    <div class="menu-container">
      <p-menu [model]="acessosTela"></p-menu>
      <div class="spacer"></div>
      <p-menu [model]="botaoSair" class="menu-sair" [ngClass]="{'red-text': true}"></p-menu>
    </div>

  </div>

  <!-- Conteúdo principal -->
  <div class="main-content">
    <p-messages
      [(value)]="messages"
      [showTransitionOptions]="'500ms'"
      [hideTransitionOptions]="'500ms'"
      [enableService]="false"
    ></p-messages>

    <!-- Aqui vai o conteúdo dinâmico da página -->
    <div class="page-content">
      <!-- Conteúdo a ser inserido -->
    </div>
  </div>
</div>
