:host ::ng-deep .p-dialog .product-image {
  width: 1750px;
  margin: 0 auto 2rem auto;
  display: flex;
}

.field {
  margin-bottom: 1rem; /* Ajuste conforme necessário */
}

.botao-espacado + .botao-espacado {
  margin-left: 8px; /* Ajuste o valor conforme necessário */
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}
