<div class="login-container">
  <p-card header="Login">
    <div>
         <img class="logo" src="assets/sistema.png" alt="Sistema COD Logo" />
    </div>

<!--    <h2>Login</h2>-->

    <div class="p-field">
      <p-messages
        [(value)]="messages"
        [showTransitionOptions]="'500ms'"
        [hideTransitionOptions]="'500ms'"
        [enableService]="false"
        [closable]="false" />
    </div>

    <form [formGroup]="formGroup" (ngSubmit)="login()">

      <div class="p-field">
        <p-floatLabel>
          <input pInputText id="email" formControlName="email" required/>
          <label for="email">Email</label>
        </p-floatLabel>
      </div>

      <div class="p-field">
        <p-floatLabel>
          <input id="senha" formControlName="senha" pInputText type="password" required/>
          <label for="senha">Senha</label>
        </p-floatLabel>
      </div>

      <div class="p-field">
        <button pButton type="submit" label="Entrar"></button>
        <hr class="divider" />
      </div>

      <a href="/usuario">Novo Usuário</a>
    </form>
  </p-card>
</div>
